.post-card {
    margin-bottom: 12px;
    border-radius: 16px !important;
    box-shadow: 0 4px 14px rgba(55, 73, 87, 0.12) !important;
    overflow: hidden;
    background-color: var(--color-bg-surface) !important;
}

.post-header {
    padding: 16px 20px 4px 20px !important;
    align-items: flex-start !important;
}

/* The subheader contains the username and category. */
.post-header .MuiCardHeader-subheader {
    font-size: 0.75rem !important;
    color: var(--color-text-main) !important;
    opacity: 0.80;
}

/*contains the username and category. */
.post-user-row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.post-username {
    font-weight: 500 !important;
    font-size: 0.875rem !important;
    color: var(--color-text-main) !important;
}

.post-category {
    font-size: 0.75rem !important;
    color: var(--color-text-main);
    opacity: 0.9;
}

.post-card-content {
    padding: 0 20px 12px 87px !important;
    /*the length of the content preview*/
    margin-top: -10px;
}

.post-title {
    font-weight: 600 !important;
    font-size: 1.1rem !important;
    color: var(--color-text-main) !important;
    border-bottom: 1px solid var(--color-border-light);
    padding-bottom: 1px;
    margin-bottom: 8px !important;
    max-width: 240px;
    /*length of the title*/
}

/* The content preview is the first few lines of the post content, and is truncated with an ellipsis if it's too long. */
.post-content-preview {
    color: var(--color-text-main);
    line-height: 1.5 !important;
    max-width: 2480px;
    /*length of the content preview*/
    /* webkit - shows only the first 5 lines of the content, and adds 3 dots if there's more text. */
    display: -webkit-box;
    line-clamp: 5;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* When the user clicks "read more", the content preview expands to show the full content. */
.post-content-preview.expanded {
    display: block;
    overflow: visible;
    line-clamp: unset;
    -webkit-line-clamp: unset;
}

.post-content-wrapper {
    position: relative;
}

.post-read-more {
    color: var(--color-text-main) !important;
    opacity: 0.55;
    font-size: 0.85rem !important;
    font-weight: 400 !important;
}

.post-tags {
    display: block;
    margin-top: 8px !important;
    color: var(--color-text-main);
    opacity: 0.7;
}

.post-actions {
    border-top: 1px solid var(--color-border-light);
    padding: 0 10px 1px 78px !important;
    display: flex;
    align-items: center;
    box-shadow: 0px 10px 10px -10px rgba(55, 73, 87, 0.46);
}

.post-action-icon {
    opacity: 0.45;
}

.post-save-icon,
.post-comment-button {
    color: var(--color-primary) !important;
}

.post-comments {
    border-top: 1px solid var(--color-border-light);
    padding: 0 !important;
}

.post-comment-count {
    padding-left: 4px;
    color: var(--color-text-main);
}