.landing-container {
    margin: 0;
    padding: 0;
    color: var(--color-text-main);
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.landing-picture {
    background-color: var(--color-primary-soft);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    height: 245px;
    overflow: visible;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.landing-image-wrapper {
    height: 100%;
    display: flex;
}

.landing-image {
    width: 100%;
    max-width: 1440px;
}

.landing-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: center;
    margin-top: 30px;
}

.landing-content {
    text-align: center;
}

.heart {
    position: absolute;
    pointer-events: none;
}

#heart-red-left {
    bottom: -20px;
    left: -20px;
    width: 150px;
}

#heart-red-right {
    bottom: -20px;
    right: -20px;
    width: 150px;
}

#heart-pink {
    bottom: 70px;
    left: 85px;
    width: 90px;
    z-index: -1;
}

#heart-yellow {
    bottom: 20px;
    left: 150px;
    width: 50px;
    z-index: -1;
}

@media (min-width: 1024px) {
    .landing-picture {
        height: 300px;
    }

    .landing-page {
        margin-top: 50px;
    }

    #heart-pink {
        bottom: 120px;
        left: 300px;
        width: 70px;
        z-index: -1;
    }

    #heart-yellow {
        bottom: 60px;
        left: 420px;
        width: 50px;
        z-index: -1;
    }

    #mini-red-heart {
        bottom: 40px;
        left: auto;
        right: 200px;
        width: 80px;
        z-index: -1;
    }

    #heart-pink-right {
        margin-top: 370px;
        left: auto;
        right: 2px;
        width: 120px;
        z-index: -1;
    }

    #heart-red-bottom {
        bottom: 5px;
        left: 150px;
        width: 180px;
        z-index: -1;
    }

    #heart-yellow-right {
        bottom: 200px;
        left: auto;
        right: 130px;
        width: 90px;
        z-index: -1;
    }

    #heart-mini-pink-right {
        bottom: 120px;
        left: auto;
        right: 90px;
        width: 60px;
        z-index: -1;
    }

}